doctype transitional
html(xmlns="http://www.w3.org/1999/xhtml")
	head
		meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
		title wwf.psd
		link(href="css/wwf.css" rel="stylesheet" type="text/css")
		script(type="text/javascript")
	body
		#left
			#aa
			#opt.submit.clearfix
				.top.font5 awegawegaweg<br>lajwegljkalwejg
					img.img6(src="images/sub1@2x.jpg")
				.input1.font8 请输入您的电子邮件地址
				.mit
					img(src="images/sub.png")